<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Знахарчук Ю.В.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="p_background">Знайдіть суму парних чисел на заданому проміжку чисел [a,b]</p>
      <ion-item>
        <ion-input type="number" id="a" value="1" #Inputa></ion-input>
        <ion-input type="number" id="b" value="2" #Inputb></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="ras(Inputa.value, Inputb.value)">Знайти суму</ion-button>
      <ion-item>
        <p>Результат обчислення {{d}}</p>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
