<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Знахарчук Ю.В.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Завдання №3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p class="p_background">Згенерувати матрицю розміром NxN. Виокремити за допомогою кольору усі парні від’ємні елементи.</p>
      <ion-item>
        <ion-label position="floating">N</ion-label>
        <ion-input type="number" id="a" value="3" #Inputn></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="arrayras(Inputn.value)">Сформувати масив</ion-button>
      <ion-item>
        <ion-grid>
          <ion-row *ngFor="let i of a">
            <ion-col *ngFor="let j of i" [ngStyle]="{backgroundColor: getColor(j)}">{{ j }}</ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
