<ion-app>
  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="primary">
        <ion-title>Меню</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="">Лабораторна робота №1</ion-item>
        <ion-item routerLink="graph">Лабораторна робота №2</ion-item>
        <ion-item routerLink="file">Лабораторна робота №3</ion-item>
        <ion-item routerLink="abstract-class">Лабораторна робота №4</ion-item>
        <ion-item routerLink="interfacepage">Лабораторна робота №6</ion-item>
        <ion-item routerLink="servicepage">Лабораторна робота №7</ion-item>
        <ion-item routerLink="modul-one">Модульний контроль №1</ion-item>
        <ion-item routerLink="react-form">Лабораторна робота №8</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
