<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №8
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Знахарчук Ю.В.</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-myform></app-myform>
</ion-content>
