<ion-card>
  <ion-card-header>
    <ion-card-title>
      <ion-label position="floating">Ім'я:</ion-label>
      <ion-input [value]="reader.name" #Inputname></ion-input>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-label position="floating">Адреса:</ion-label> 
    <ion-input [value]="reader.address" #Inputaddr></ion-input>

    <ion-label position="floating">Номер телефону:</ion-label>
    <ion-input [value]="reader.phone" #Inputphn></ion-input>

    <ion-label position="floating">Почта:</ion-label>
    <ion-input [value]="reader.email" #Inputmail></ion-input> 
  </ion-card-content>
  <ion-button (click)="save(Inputname.value, Inputaddr.value, Inputphn.value, Inputmail.value)">Зберігти</ion-button> 
</ion-card>