<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Лабораторна робота №2
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>Виконав студент групи КН-32 Знахарчук Ю.В.</ion-title>
  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="dark" menu="first"></ion-menu-button>
    </ion-buttons>
    <ion-title>Лабораторні роботи</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Завдання</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-text>Створити додаток для табулювання і виведення на екран значення функції, також побудувати графік
          функції</ion-text> <ion-item>
          <ion-label position="floating">xn</ion-label>
          <ion-input type="number" id="xn" value="2" #Inputxn></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">xk</ion-label>
          <ion-input type="number" id="xk" value="17.48" #Inputxk></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">a</ion-label>
          <ion-input type="number" id="a" value="0.8" #Inputa></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">h</ion-label>
          <ion-input type="number" id="h" value="0.3" #Inputh></ion-input>
        </ion-item>
        <ion-list>
          <ion-item>
            <ion-select aria-label="equation" placeholder="Select equation" [(ngModel)]="selectedEquation">
              <ion-select-option value="first">1</ion-select-option>
              <ion-select-option value="second">2</ion-select-option>
              <ion-select-option value="third">3</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>
        <ion-button expand="block" (click)="graphras(Inputxn.value, Inputxk.value, Inputa.value, Inputh.value)">
          Розрахунок
        </ion-button>
        <ion-item>
          <canvas #lineCanvas></canvas>
        </ion-item>
        <ion-item *ngFor="let item of data1">{{item}}</ion-item>
      </ion-card-content>
    </ion-card>
  </ion-content>
